*{
    padding: 0;
    margin: 0;
}

nav{
    color: white;
    font: 16px/1.5 Arial, sant-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul li{
    list-style: none;
}


.container{
    width: 80%;
    margin: auto;
}

nav{
    background: #003580;
}

.container.nav{
    /* border: 1px soilid green; */
    display: flex;
    flex-direction: column;
    
}

.container.nav .top-nav{
    /* border: 1px solid goldenrod; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*background-color: aqua;*/
    height: 50px;
}


.top-nav .left{
    display: flex;
    width: 50%;
    align-items: center;
    font-weight: bolder;
}

.top-nav .right{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.right img{
    border-radius: 50%;
    width: 1.33em;
}
.boutonInt {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid white;
}

.right .navform{
    border: 1px solid #fff;
    padding: 5px 0px;
}

.navform.lyp{
    padding-left: 7px;
    padding-right: 7px;
}

.navform.register,
.navform.signin{
    padding-left: 5px;
    padding-right: 7px;
    color: #003580;
    background: #fff;
    border: 2px solid #0071C2;
}


.navform.register a,
.navform.signin a{
    color: #0071C2;
    cursor: pointer;
    

}
.navform.register:hover{
    background-color: rgb(197, 253, 235);
}
.navform.signin:hover{
    background-color: rgb(197, 253, 235);
}

.bottom-nav ul{
    display: flex;
    width: auto;
   
}


ul li :hover{
    background-color: #0071C2;
    cursor: pointer;
}
ul li >a{
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: .025em;
    color: white;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10%;
    line-height: 100%;
    border-bottom: 2px solid transparent;
    padding: 16px;
    border-radius: 30px 30px 30px 30px;
    flex-wrap: nowrap;
}
