
*{
    margin: 0px;
    padding: 0px;
    font-family: "mallory","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgba(0, 0, 0, 0.707);
    line-height: 18px;
}
#part1 {
    background-color:rgba(220, 220, 220, 0.499);
    padding-top: 70px;
    padding-bottom: 20px;
}
#part2 {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}
#part2 h2 {
    font-weight: 500;
     font-size: 30px;
    color: black;
}
#part2>p {
    margin-top: 15px;
    margin-bottom: 30px;
}
#part2> input {
     
}
#searchdiv {
    margin-top: 20px;
     display: grid;
     grid-template-columns: 23% 23% 16% 10% 10% 12%;
}
#searchdiv input {
    width: 100%;
    height: 50px;
    border: 0px;
    outline: 0px;
    padding-left: 0px;
    background-color:rgba(220, 220, 220, 0);
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-align: center;
}
#searchdiv input::-webkit-input-placeholder {
    font-size: 13px;
    font-weight: 600;
    color: black;
}
#searchdiv input:hover {
   outline-width: 6px;
}
#searchdiv >div {
    display: grid;
    grid-template-columns: 20px 70%;
    border: 4px solid orange;
    border-right: 0px;
}
#searchdiv >div:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#searchdiv #search {
    width: 80%;
    border-right: 4px solid orange;
    align-items: center;
    text-align: center;
    padding-left: 33%;
    background-color: rgb(83, 146, 249);
    color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: 600;
    font-size: 15px;
}
#searchdiv>div >div:first-child {
    margin-top: 15px;
    margin-left: 8px;
    opacity: 0.6;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    
}
#div2 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    justify-content: space-around;
}
#div2>div {
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 5%;
    font-size: 13px;
    font-weight: 500;
}
.green {
    height: 30px;
    border-radius: 100%;
    background-color: rgb(221, 255, 170);
    padding-top: 15px;
    padding-left: 13px;
}
.pink {
    height: 35px;
    border-radius: 100%;
    background-color: rgba(255, 214, 221, 0.833);
    padding-top: 15px;
    padding-left: 13px;
}
.blue {
    height: 33px;
    border-radius: 100%;
    background-color: rgba(214, 234, 255, 0.833);
    padding-top: 18px;
    padding-left: 15px;
}
#div2 h3 {
    margin-bottom: 3px;
    color: black;
    font-size: 14px;
}

#part3 h2, #part4 h2{
    margin-top: 80px;
     text-align: center;
     font-weight: 500;
     font-size: 30px;
    color: black;
}

#part3>div {
    width: 70%;
    margin: auto;
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
}
#part3a>div {
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 5%;
    margin-top: 40px;
    font-size: 14px;
}
#part3a p {
  margin-top: 10px;
}
#part4>h2 {
    margin-top: 50px;
}
#part4 {
    background-color: rgba(220, 220, 220, 0.499);
    padding-top: 5px
}
#part4main {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    padding-bottom: 50px;
}
#part4main>div {
    background-color: white;
    padding: 4%;
    border-radius: 5px;
}
.part4aa,.part4ab,.part4ac {
    display: grid;
    grid-template-columns: 6% 80%;
    font-size: 14px;
    margin-top: 13px;
}
.part4aa p {
    color: black;
}
.part4ab p {
    color: rgb(4, 119, 164);
}
.part4ac p {
    color: green;
}
#passengers {
    width: 22%;
    margin-left: 15%;
    margin-top: 40px;
    font-size: 13px;
    display: grid;
    grid-template-columns: 39% 39% 20%;
    align-items: center;
    border-radius: 7px;
}
#passengers>div {
    border:1px solid darkblue;
    border-left: 0px;
    height: 30px;
    padding-top: 12px;
    text-align: center;
    color: darkblue;
    font-size: 14px;
}
#passengers>div:first-child {
    background-color: darkblue;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#passengers>div:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#passengers>div:hover {
    cursor: pointer;
}
#part4a>div,#part4b>div {
    margin-left: 13px;
}
#part4 button {
    width: 19%;
    height: 37px;
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 7px;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
#part4 h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
#part4a>p,#part4b>p {
    color: rgba(0, 0, 0, 0.66);
    font-size: 14px;
}