footer, header, hgroup, menu, nav, section {
	display: block;
}

.bannier_12 {
    color: white;
    height: auto;
    min-height: 250px;
    width: 100%;
    background-color: #00224F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.bannier_12 h6 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
}

.subtitle12 {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 25px;
}

.bloc_121 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 547px;
    height: 50px;
}

.bloc_121 input {
    padding: 0 16px;
    width: 380px;
    border-radius: 4px;
}

.bloc_121 input.placeholder {
    color: lightgrey;
} 

.bloc_121 button {
    font-size: 18px;
    width: 162px;
    border-radius: 4px;
    color: white;
    background-color: #0071C2;
}

.bloc_122 {
    margin-top: 10px;
    width: auto;
    max-width: 547px;
    height: 20px;
    display: flex
}

.bloc_122 input {
    width: 15px;
    margin-right: 2px;
}

.bloc_122 p {
    font-size: 13px;
}

/*-----------------------------------*/

.bannier_13 {
    height: auto;
    min-height: 100px;
    width: 100%;
    background-color: #003580;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.bannier_13 button {
    cursor: pointer;
    display: flex;
    height: 28px;
    line-height: 24px;
    padding: 0 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    margin: 15px auto
}

.liens_13 {
    border-top: 1px solid white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens_13 div {
    display: flex;
    align-items: center;
    height: 39px;
    width: 100%;
    max-width: 1110px;
}

.liens_13 div a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 16px;
    height: 100%;
    width: max-content;
    max-width: 320px;
    text-decoration: underline;
}


footer {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 650px;
    background-color: white;
    overflow: hidden;
}


.foottitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 25px;
    color: #0071C2;
}

footer p {
    font-size: 14px;
    margin-bottom: 12px;
}

li {
    display: block;
}
li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-align: center;
     padding: 14px 16px;
}
.flex-container{
    display: flex;
    margin:0 auto; /* this will center the page */
    width:990px;
    /* color: #003580; */
    color: #0071C2;
     list-style-type: none;
     text-decoration: none;
     font-size: small;
     justify-content: space-between;
}
.flex-container-div{
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: left;
    /* gap: 50px; */

}
li:hover{
    color: orange;
    cursor: pointer;
}
    

